<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lugares_v">

    <!-- Este es para decirle al android que esta app requiere acceso a hacer llamadas-->
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <!-- Estos permisos se requieren para la geolocalzación -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_size"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_size"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lugares_v">
        <activity
            android:name=".Principal"
            android:exported="false"
            android:label="@string/title_activity_principal"
            android:theme="@style/Theme.Lugares_v.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Esto se requiere para buscar las imagenes capturadas de la cámara -->
        <!-- ojo el archivo llamado file_paths en la carpeta xml -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>
    </application>
</manifest>